{%extends 'base.html'%}
{%block body_block%}

 <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
                {%for msg in messages%}
                    {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>"{{msg}}"</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
            {%endif%}

                    {%if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>"{{msg}}"</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
            {%endif%}
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h1>Edit Employee</h1></div>
    <div class="col-4"></div>
</div>


 <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}

<div class="container w-60 border border-dark mt-80">
    <div class="row">

        <div class="col-4">
          <div>  <img src="{{emp.profile_pic.url}}" alt=""></div>

 <label for="">Profile Picture:</label>
 <div>
                    <button class="btn btn-primary" style="margin-top:20px" type="submit">{{ form.profile_pic }}</button>
                </div>


        </div>
        <div class="col-4">

            <img src="" alt="">

        <div class="fieldWrapper">

    <label for="">Employee Name:</label>
    {{ form.emp_name }}
</div>

             <div class="fieldWrapper">

    <label for="">Salary:</label>
    {{ form.salary }}
</div>

             <div class="fieldWrapper">

    <label for="">Email Id:</label>
    {{ form.email }}
</div>


        </div>
        <div class="col-4">
            <img src="" alt="">

         <div class="fieldWrapper">

    <label for="">Designation:</label>
    {{ form.desig }}
</div>

             <div class="fieldWrapper">

    <label for="">Employee Id</label>
    {{ form.eid }}
</div>
             <div class="fieldWrapper">

    <label for="">Experience:</label>
    {{ form.experience }}

</div>
        </div>





                <div>
                    <button class="btn btn-secondary" style="margin-top:20px" type="submit">Update Employee</button>
                </div>
            </form>

{%endblock%}